
@import url('./var.css');


body {
    font-family: var(--p-main-font), sans-serif;
}

.main-bg {
    background-color: var(--color-bg-light);
}


.btn-primary{
  background:var(--color-primary);
  color:#fff;
  font-size: 25px;
  font-weight:600;
}

.btn-outline{
  border:3px solid var(--color-primary);
  color:var(--color-primary);
  font-size: 25px;
  font-weight:600;
}

.sub-title{
    font-size:30px;
    color:var(--color-primary);
    font-weight: 700;
}

.sub-title-body{
    font-size:20px;
    color:var(--color-text-faq);
    font-weight: 400;
}


.dim:before{
            content: "";

            position: absolute;
            inset: 0;
            background:
                linear-gradient(
                    to top,
                    rgba(0, 0, 0, 0.72),
                    rgba(0, 0, 0, 0.22)
                );

            z-index: 1;
}

